*{
    font-family: "Rubik", sans-serif;
}

body {
  overflow: hidden;
}


#upgrades{
    width: 500px;
    height: 600px;
    border: black solid;
    position: relative;
    left: 815px;
    bottom: 140px;
    display: inline-block;
}

.upgrade{
    width: 480px;
    height: 100px;
    border: black solid;
    position: relative;
    right: 3px;
    cursor: auto;
    background: lightblue;
    display: inline-block;
}

#click{
    height: 600px;
    width: 200px;
}

.info{
    color: rgb(247, 249, 250);
}