*{
    font-family: "Rubik", sans-serif;
}

#upgrades{
    width: 500px;
    height: 600px;
    border: black solid;
    position: relative;
    left: 1000px;
    bottom: 137px;
}

#upgrade1{
    width: 480px;
    height: 100px;
    border: black solid;
    position: relative;
    right: 3px;
    cursor: pointer;
    background: lightblue;
    padding: 10px;
    display: inline-block;
}